body {
    background-color: #222222;
    color: #ffffff;
}

table {
    width: 240px;
}

td {
    border: 1px solid #ffffff;
}

#container {
    background-color: #444444;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    width: 480px;
    font-size: 48px;
    float: left;
    padding: 10px;
    margin-bottom: 20px;
}

#logo a {
    color: #ffffff;
    text-decoration: none;
}

#header {
    width: 480px;
    float: left;
    text-align: right;
    padding: 10px;
}

#sidebar {
    width: 250px;
    float: left;
}

.results {
    text-align: center;
    width: 240px;
    padding: 5px;
    margin-bottom: 20px;
}

.firstPlace {
    color: gold;
}

.secondPlace {
    color: silver;
}

.thirdPlace {
    color: chocolate;
}

#content {
    width: 750px;
    min-height: 400px;
    text-align: center;
    float: left;
}

#counter {
    font-size: 78px;
}

#pushButtonDiv {
    margin: 50px;
}

#customPushButton {
    background-color: #008CBA;
    font-size: 24px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #222222;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

#customPushButton:focus {
    outline: 0;
}

#saveButtonDiv {
    margin: 70px;
}

#footer {
    background-color: #000000;
    margin-top: 20px;
    padding: 5px;
    text-align: center;
}

#loginForm {
    margin-top: 30px;
}

.g-recaptcha {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}